:root {
  --roxo-escuro-chuva: #352f44;
  --roxo-medio-chuva: #5c5470;
  --roxo-claro-chuva: #b9b4c7;
  --baunilha: #faf0e6;
  --azul-escuro-temp: #27374d;
  --azul-medio-temp: #526d82;
  --azul-claro-temp: #9db2bf;
  --cinza-azulado: #dde6ed;
  --azul-ceu-nublado: #6096b4;
  --azul-claro-nublado: #93bfcf;
  --azul-acinzentado-nublado: #bdcdd6;
  --bege-claro-nublado: #eee9da;
  --amarelo-claro-ensolarado: #fff2cc;
  --amarelo-nublado: #ffd966;
  --laranja-medio-ensolarado: #f4b183;
  --laranja-escuro-ensolarado: #dfa67b;
  --fonte: "Poppins", sans-serif;
}
